<!DOCTYPE html>
<html lang="en">
    
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet"  type="text/css"  href="{%static 'css/about.css' %}">
</head>

<body>
<br><br>
    <nav class="aboutnav">
        <ul>
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="{% url 'about'%}">About</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
            <li><a href="{% url 'vote'%}">Vote</a></li>
        </ul>
    </nav>

    <br><br>

    <p class="indenttitle">About Kevin Dodds</p>
    
<section class="indent">

    <p>Kevin Dodds is a dedicated law enforcement professional 
    and community advocate, passionate about making a positive 
    difference in the lives of those he serves. With over fourty years
    of experience in law enforcement, including time as 
    a chief in Pennsylvania and service with the Dallas Police Department,
     Kevin has a proven record of leadership, integrity, and 
     commitment to justice.</p>
    
   <p> Kevin’s journey in public service began in 1978 as an Auxillary Police
    Officer in  Pennsylvania, where he 
    worked tirelessly to uphold the safety and security of his 
    community. His experience on the front lines has given him 
    a deep understanding of the challenges facing law enforcement 
    today, and he is committed to fostering trust and collaboration 
    between officers and the community. Known for his 
    proactive approach, Kevin focuses on preventive measures, 
    community engagement, and transparent communication as the 
    cornerstone of his philosophy.</p>
    
    <p>In addition to his law enforcement role, Kevin is actively 
    involved in several local communities and educational partners. 
    His passion for learning reflects his dedication to bringing
    modern solutions and innovative thinking to law enforcement. 
    He believes in leveraging technology to improve efficiency, enhance communication, 
    and ensure that public safety strategies are responsive to 
    the needs of a changing world.</p>
    
    <p>Kevin’s campaign for Sheriff is centered on three guiding 
    principles: safety, service, and integrity. He is committed
     to creating a safe environment for all, supporting his team
      with the best training and resources, and ensuring transparency in all operations. A firm believer in accountability
       and community partnership, Kevin Dodds aims to lead by 
       example, setting high standards for himself and his team.</p>
    
    <p>Outside of his work, Kevin cherishes time with his family, 
    and he brings this sense of responsibility and care to every
     aspect of his role. He understands the trust placed in him
      by his community, and he is honored to serve with humility
      , respect, and dedication.</p>
</section>
    
   <p class="comment"><em> Join Kevin Dodds in building a safer, stronger community—together.
  </p></em>
    
</body>

<footer>
    <nav class="footernav">
        <ul>
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="{% url 'about'%}">About</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
            <li><a href="{% url 'vote'%}">Vote</a></li>
        </ul>
    </nav>

</footer>
</html>

